<mat-card class="container">
 
  <form [formGroup]="inquiryForm" (ngSubmit)="onSubmit()">
    
    <mat-card-title>Add Inquiry </mat-card-title>
    <mat-card-content>
      <mat-form-field>
        <input matInput formControlName="name" placeholder="Name" />
      </mat-form-field>

      <mat-form-field>
        <input matInput [matDatepicker]="datePicker" formControlName="date" placeholder="Date" />
        <mat-datepicker-toggle matSuffix [for]="datePicker"></mat-datepicker-toggle>
        <mat-datepicker #datePicker></mat-datepicker>
      </mat-form-field>

      <mat-form-field>
        <input matInput formControlName="address" placeholder="Address" />
      </mat-form-field>

      <mat-form-field>
        <input matInput formControlName="contact" placeholder="Contact No" />
      </mat-form-field>

      <mat-form-field>
        <input matInput formControlName="email" placeholder="Email ID" />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Gender</mat-label>
        <mat-select formControlName="gender">
          <mat-option *ngFor="let gender of genders" [value]="gender">
            {{ gender }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <input matInput [matDatepicker]="dobPicker" formControlName="dob" placeholder="Date of Birth" />
        <mat-datepicker-toggle matSuffix [for]="dobPicker"></mat-datepicker-toggle>
        <mat-datepicker #dobPicker></mat-datepicker>
      </mat-form-field>

      <mat-form-field>
        <input matInput formControlName="course" placeholder="Course" />
      </mat-form-field>

      <mat-form-field>
        <input matInput formControlName="qualification" placeholder="Previous Qualification" />
      </mat-form-field>

      <mat-form-field>
        <input matInput formControlName="schoolName" placeholder="School Name / College Name" />
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button style="display: flex;justify-content: center; text-align: center;" mat-raised-button color="primary" type="submit">Submit</button>
    </mat-card-actions>
  </form>
</mat-card>

