  <form [formGroup]="inquiryForm" (ngSubmit)="checkActionType()">
    <input hidden="true" formControlName="type" id="type"  matInput>
    <h1 mat-dialog-title>{{data.title}}</h1>
    <mat-card-content>
      <mat-form-field>
        <input matInput formControlName="name" placeholder="Student Name" />
      </mat-form-field>

      <mat-form-field>
        <input matInput [matDatepicker]="datePicker" formControlName="date" placeholder="Date" />
        <mat-datepicker-toggle matSuffix [for]="datePicker"></mat-datepicker-toggle>
        <mat-datepicker #datePicker></mat-datepicker>
      </mat-form-field>

      <mat-form-field>
        <input matInput formControlName="address" placeholder="Student Address" />
      </mat-form-field>

      <mat-form-field>
        <input matInput formControlName="contact_no" placeholder="Contact No" />
      </mat-form-field>

      <mat-form-field>
        <input matInput formControlName="email_id" placeholder="Email ID" />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Gender</mat-label>
        <mat-select formControlName="gender">
          <mat-option value="science">Science</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Date of creation</mat-label>
        <input matInput formControlName="date_of_birth"[matDatepicker]="picker">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
       </mat-form-field>
      <div>
        <h3>Course</h3>

        <mat-form-field >
          <mat-label>Stream Name</mat-label>
          <mat-select formControlName="stream_name"  (selectionChange)="onSelect($event.value)">
            <mat-option *ngFor="let streamdatas of streamdata" [value]="streamdatas.addstream_pk">{{ streamdatas.stream_name }}</mat-option>
          </mat-select>
        </mat-form-field>


        <mat-form-field>
          <mat-label>SubStream Name</mat-label>
          <mat-select formControlName="substream_name">
            <mat-option *ngFor="let streamdatas of selectedstream" [value]="streamdatas.addsubstream_pk">{{ streamdatas.sub_stream_name }}</mat-option>
          </mat-select>
        </mat-form-field>
        
      </div>
      <mat-form-field>
        <input matInput formControlName="previous_qualification" placeholder="Previous Qualification" />
      </mat-form-field>

      <mat-form-field>
        <input matInput formControlName="school_college_name" placeholder="School Name / College Name" />
      </mat-form-field>
    </mat-card-content>
    <div mat-dialog-actions>
      <button mat-raised-button type="submit" color="primary">{{data.type}}</button>
    <a (click)="closepopup()" mat-raised-button color="warn">Close</a>
    <!-- <button mat-raised-button [mat-dialog-close]="closemessage" color="accent">Cancel</button> -->
  </div>
  </form>