<div class="container">
  <h1> Add Subject </h1>
  <form [formGroup]="subjectForm" (ngSubmit)="checkActionType()">
    <mat-form-field>
      <mat-label>Select Substream</mat-label>
      <mat-select  formControlName="substream_pk">
        <mat-option *ngFor="let degreeTitle of dataSource" [value]="degreeTitle.addsubstream_pk">{{ degreeTitle.sub_stream_name}}</mat-option>
      </mat-select>
    </mat-form-field>
    <table class="table table-bordered" formGroupName="subjects">
      <tr>
        <th colspan="2">Add Multiple Subject:</th>
        <th width="150px">
          <button mat-raised-button color="accent" type="button" (click)="addsubjectarray()">Add Subject</button>
          <!-- <button mat-raised-button >Add Subject</button> -->
        </th>
      </tr>
      <tr *ngFor="let subject of subjects.controls; let i=index" [formGroupName]="i">
        <td>
          <mat-form-field>
            <mat-label>Subject Name:</mat-label>
            <input matInput type="text" formControlName="subjectname">
            <!-- <input matInput type="text" formControlName="subject.get('subject_name')"> -->
          </mat-form-field>
        </td>
        <!-- <td>
          <mat-form-field>
            <mat-label>Price:</mat-label>
            <input matInput type="text" formControlName="price">
          </mat-form-field>
        </td> -->
        <td>
          <button mat-icon-button (click)="removesubject(i)">
            <mat-icon>remove_circle</mat-icon>
          </button>
        </td>
      </tr>
    </table>

    <!-- <button mat-raised-button  class="btn btn-success">Submit</button> -->
    <button mat-raised-button color="primary" type="submit" >Submit</button>
  </form>


</div>
