<form [formGroup]="checkboxForm" (ngSubmit)="onSubmit()">
  <!-- <div class="container mt-5">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">
            <input
              class="form-check-input"
              type="checkbox"
              [value]="-1"
              (change)="onChangeFood($event)"
            />
          </th>
          <th scope="col">Food</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let n of dataSource">
          <th scope="row">
            <input
              class="form-check-input"
              type="checkbox"
              [value]="n.user_id"
              [checked]="n.select"
              (change)="onChangeFood($event)"
            />
          </th>
          <td>{{ n.studentname }}</td>
        </tr>
      </tbody>
    </table>
  </div> -->


  <form [formGroup]="form" (ngSubmit)="submitData()">
    <table id="customers">
      <colgroup>
        <col span="1" style="visibility: collapse">
      </colgroup>
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Present</th>
        </tr>
      </thead>
      <tbody formArrayName="tableData">
        <tr *ngFor="let item of tableData; let i = index" [formGroupName]="i">
          <td>{{ item.user_id }}</td>
          <td>{{ item.studentname }}</td>
          <td><input type="checkbox" formControlName="presentflag"></td>
        </tr>
      </tbody>
    </table>
    <button type="submit" mat-raised-button color="primary">Submit</button>
  </form>











  </form>