<form [formGroup]="addbatchForm" (ngSubmit)="checkActionType()" >
  <h1 mat-dialog-title>Add Batch</h1>
  <div mat-dialog-content>
    <input hidden="true" formControlName="type" id="type" matInput>
    <mat-form-field>
      <mat-label>Select Sub Stream:</mat-label>
      <mat-select formControlName="substream_pk" >
        <mat-option *ngFor="let degreeTitle of getdatasubstream" [value]="degreeTitle.addsubstream_pk">{{ degreeTitle.sub_stream_name }}</mat-option>
      </mat-select>
    </mat-form-field>
     <mat-form-field>
      <mat-label>Batch Name</mat-label>
      <input formControlName="batch_name" matInput>
     </mat-form-field>
     <mat-form-field>
      <mat-label>Date of creation</mat-label>
      <input matInput formControlName="doc"[matDatepicker]="picker">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
     </mat-form-field>
    
     <div>
      <mat-checkbox formControlName="status">Is Active</mat-checkbox>
     </div>
  </div>
  <div mat-dialog-actions>
      <button mat-raised-button type="submit" color="primary">Save</button>
    <a (click)="closepopup()" mat-raised-button color="warn">Close</a>
    <!-- <button mat-raised-button [mat-dialog-close]="closemessage" color="accent">Cancel</button> -->
  </div>
  </form>