<form [formGroup]="classProfileForm" (ngSubmit)="onSubmit()">
<mat-card>
    <mat-card-header>
  <button style="margin-left: 80%;" (click)="updateprofile()" mat-raised-button color="primary">Update Profile</button>
  <button style="margin:5px;"  (click)="CreateProfile()" mat-raised-button color="primary">Create Profile</button>
    </mat-card-header>

   
    <div class="form-group" style="margin-left: 27rem; border-radius: 58%;"   >
      
        <img [src]="classLogo"  *ngIf="classProfileForm.get('FilePath').value"   height="150px" width="150px" >
       <!-- L <label for="file">Logo</label>   -->
      </div>

    <mat-card-content>
        <div>
        <h3>Class Details</h3>
        <mat-form-field>
            <mat-label> Class Name</mat-label>
            <input [readonly]="!editable" matInput formControlName="classname" >
          </mat-form-field>
        
          <mat-form-field>
            <mat-label>Date Of Establishment</mat-label>
            <input [readonly]="!editable" matInput [matDatepicker]="dobPicker" formControlName="date_of_creation" >
            <mat-datepicker-toggle matSuffix [for]="dobPicker"></mat-datepicker-toggle>
            <mat-datepicker #dobPicker></mat-datepicker>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Solgan</mat-label>
            <input [readonly]="!editable" matInput formControlName="slogan" >
          </mat-form-field>
    
            
      
          <mat-form-field>
            <mat-label>Branch Name</mat-label>
            <input [readonly]="!editable" matInput formControlName="branchname" >
          </mat-form-field>
        
          
          <mat-form-field>
            <mat-label>Address</mat-label>
            <input [readonly]="!editable" matInput formControlName="address" >
          </mat-form-field>
        
          <mat-form-field>
            <mat-label>Contact No.</mat-label>
            <input [readonly]="!editable" matInput formControlName="contact"  pattern="[0-9]*">
            <mat-hint align="end" >Only digits allowed</mat-hint>
          </mat-form-field>
        
          <mat-form-field>
            <mat-label>Email ID</mat-label>
            <input [readonly]="!editable" matInput formControlName="email"  readonly>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Pan No</mat-label>
            <input [readonly]="!editable" matInput formControlName="panno" >
          </mat-form-field>
          <mat-form-field>
            <mat-label>Aadhar No</mat-label>
            <input [readonly]="!editable" matInput formControlName="aadharno" >
          </mat-form-field>
          <mat-form-field>
            <mat-label>GST NO</mat-label>
            <input [readonly]="!editable" matInput formControlName="gstno" >
          </mat-form-field>
        
      
        </div>
      
    </mat-card-content>
  
    <mat-card>
  <form>
  