<form [formGroup]="passwordForm" (ngSubmit)="resetPassword()">
  <mat-card class="password-card">
    <mat-card-title>Reset Password</mat-card-title>
    <mat-card-content>
      <mat-form-field>
        <input matInput type="password" formControlName="existingPassword" placeholder="Existing Password">
      </mat-form-field>
      <br>
      <mat-hint>Mini 6 Maxi 12, At least one uppercase letter, one lowercase letter, one digit, and one specialcharacter</mat-hint> 
     <br>
      <mat-form-field>
        <input matInput type="password" formControlName="newPassword" placeholder="New Password">
      </mat-form-field>
      <mat-form-field>
        <input matInput type="password" formControlName="confirmPassword" placeholder="Confirm Password">
        <mat-error *ngIf="passwordForm.hasError('passwordMismatch')">Passwords do not match</mat-error>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit">Reset Password</button>
    </mat-card-actions>
  </mat-card>
</form>