<mat-toolbar color="primary" class="mat-elevation-z8">
    <button (click)="drawer.toggle()" mat-icon-button>
        <mat-icon>menu</mat-icon>
    </button>
    <span>Student Panel</span>
    <span class="example-spacer"></span>
    <button style="margin: 5px;" mat-flat-button color="accent" routerLink="studentprofile">Profile</button> 
    <button style="margin: 5px;" mat-flat-button color="accent" routerLink="resetstudentpassword">Reset Password</button> 
    <button mat-flat-button color="warn" (click)="logout()">Logout</button>

</mat-toolbar>
<mat-drawer-container autosize>
    <mat-drawer #drawer opened="true" mode="side" position="start">
    <mat-nav-list>
        <mat-list-item>
            <button routerLink="studentdashboard" mat-button><mat-icon></mat-icon> Dashboard</button>
        </mat-list-item>
        <mat-list-item>
            <button routerLink="studentschedule" mat-button><mat-icon></mat-icon>Schedule</button>
        </mat-list-item>
        <mat-list-item>
            <button routerLink="myclasses" mat-button><mat-icon></mat-icon>My Classes</button>
        </mat-list-item>

        <mat-list-item>
            <button routerLink="studentattendance" mat-button><mat-icon></mat-icon>Attendance</button>
        </mat-list-item>
        <mat-list-item>
            <button routerLink="studentresult" mat-button><mat-icon></mat-icon>Result</button>
        </mat-list-item>
        <mat-list-item>
            <button routerLink="studentaskdoubt" mat-button><mat-icon></mat-icon>Ask Doubt</button>
        </mat-list-item>
        <mat-list-item>
            <button routerLink="studenttrackdoubt" mat-button><mat-icon></mat-icon>Track Doubt</button>
        </mat-list-item>
        <mat-list-item>
            <button routerLink="studentvideolecturepanel" mat-button><mat-icon></mat-icon>Video Lectures</button>
        </mat-list-item>
        <mat-list-item>
            <button routerLink="studentlecturepanel" mat-button><mat-icon></mat-icon>Lectures</button>
        </mat-list-item>
        <!-- <mat-list-item>
            <button mat-button><mat-icon>settings</mat-icon> Settings</button>
        </mat-list-item>
        <mat-list-item>
            <button mat-button><mat-icon>help</mat-icon> Help</button>
        </mat-list-item>
        <mat-list-item>
            <button mat-button><mat-icon>analytics</mat-icon> analytics</button>
        </mat-list-item> -->
    </mat-nav-list>
    </mat-drawer>
    
    <mat-drawer-content>
        <div style="text-align: center;min-height: 600px;">     
            <router-outlet></router-outlet>        
            </div>
    </mat-drawer-content>
</mat-drawer-container>
<app-footer></app-footer>
