<div class="container">
  <h1>Test Schedule </h1>

  <form [formGroup]="testForm" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <mat-label>Select Substream</mat-label>
      <mat-select formControlName="substreamname" (selectionChange)="selectbatch($event.value)">
        <mat-option *ngFor="let substreamdatas of dataSourcesubstream" [value]="substreamdatas.addsubstream_pk">{{
          substreamdatas.sub_stream_name }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Select Batch</mat-label>
      <mat-select disableRipple formControlName="batchname">
        <mat-option *ngFor="let batchdatas of selectedbatchname" [value]="batchdatas.addbatch_pk">{{batchdatas.batch_name }}</mat-option>
      </mat-select>
    </mat-form-field>


  
      <table class="table table-bordered" formGroupName="testdetails">
        <tr>
          <th colspan="5">
            <button  style="margin-left: 5px;" mat-raised-button color="accent" type="button" (click)="addsubjectarray()">Add Schedule</button>
          
          </th>
         
        </tr>
        <tr *ngFor="let subject of testdetails.controls; let i=index" [formGroupName]="i">
            <td>
              <mat-form-field>
                <mat-label>Subject Name</mat-label>
                <mat-select disableRipple formControlName="subjectname">
                  <mat-option *ngFor="let subjectdata of selectedsubject" [value]="subjectdata.subject_pk">{{
                    subjectdata.subjects }}</mat-option>
                </mat-select>
              </mat-form-field>
            </td>
          <td>
            <mat-form-field>
              <mat-label>Faculty Name</mat-label>
              <mat-select disableRipple formControlName="facultyname">
                <mat-option *ngFor="let facultydata of selectedfaculty" [value]="facultydata.add_faculty_pk">{{
                  facultydata.name }}</mat-option>
              </mat-select>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field>
              <mat-label>Test Date</mat-label>
              <input matInput formControlName="dateoftest" id="dateoftest" [matDatepicker]="picker">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field>
              <mat-label>Topic Name and Description</mat-label>
              <input matInput type="text" formControlName="topicname">
            </mat-form-field>
          </td>
          <td>
            <mat-form-field>
              <mat-label>Lecture Start Time</mat-label>
              <input matInput type="text" formControlName="testtype">
            </mat-form-field>
          </td>
          <td>
            <mat-form-field>
              <mat-label>Lecture Start Time</mat-label>
              <input matInput type="text" formControlName="totalmark">
            </mat-form-field>
          </td>
          <td>
            <mat-form-field>
              <mat-label>Lecture Start Time</mat-label>
              <input matInput type="text" formControlName="startTime">
            </mat-form-field>
          </td>
          <td>
            <mat-form-field>
              <mat-label>End Time</mat-label>
              <input matInput type="text" formControlName="endTime">
            </mat-form-field>
          </td>
          <td>
            <mat-form-field>
              <mat-label>Notice</mat-label>
              <input matInput type="text" formControlName="notice">
            </mat-form-field>
          </td>
          <td>
            <button mat-icon-button (click)="removesubject(i)">
              <mat-icon>remove_circle</mat-icon>
            </button>
          </td>
        </tr>
      </table>

    <button mat-raised-button color="primary" type="submit">Submit</button>
  </form>


</div>