<div class="container">
    <h1> Test Schedule </h1>
  
    <form [formGroup]="addtestForm" (ngSubmit)="onSubmit()">
      <mat-form-field>
        <mat-label>Select Substream</mat-label>
        <mat-select disableRipple formControlName="name">
          <mat-option value="1">Jee</mat-option>
          <mat-option value="2">NEET</mat-option>
          <mat-option value="3">MBA</mat-option>
        </mat-select>
      </mat-form-field>
  
       <mat-form-field>
        <mat-label>Select Batch</mat-label>
        <mat-select disableRipple formControlName="batch">
          <mat-option value="1">Batch 1</mat-option>
          <mat-option value="2">Batch 2</mat-option>
          <mat-option value="3">Batch 3</mat-option>
        </mat-select>
      </mat-form-field>
      
      
  
      <table class="table table-bordered" formArrayName="subjects">
        <tr>
          <th colspan="4">Add Multiple Test:</th>
          <th width="fill-content">
            <button mat-raised-button color="accent" type="button" (click)="addlecture()">Add Test</button>
            <!-- <button mat-raised-button >Add Subject</button> -->
          </th>
        </tr>
        <tr *ngFor="let subject of subjects.controls; let i=index" [formGroupName]="i">
          <td>
            <mat-form-field>
              <mat-label>Subject Name:</mat-label>
              <input matInput type="text" formControlName="sub">
            </mat-form-field>
          </td>
          <td>
          <mat-form-field>
            <mat-label>Select Faculty</mat-label>
            <mat-select disableRipple formControlName="faculty">
              <mat-option value="1">Batch 1</mat-option>
              <mat-option value="2">Batch 2</mat-option>
              <mat-option value="3">Batch 3</mat-option>
            </mat-select>
          </mat-form-field>
        </td>
        <td>
            <mat-form-field>
              <mat-label>Topic Name</mat-label>
              <input matInput type="text" formControlName="topicname">
            </mat-form-field>
          </td>
          <td>
            <mat-form-field>
              <mat-label>Title</mat-label>
              <input matInput type="text" formControlName="title">
            </mat-form-field>
          </td>
          <td>
            <mat-form-field>
              <mat-label>Total Marks</mat-label>
              <input matInput type="text" formControlName="totalmarks">
            </mat-form-field>
          </td>
        <td>
          <mat-form-field>
            <mat-label>Choose a date</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="date">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
          
        </td>
        <td>
          <mat-form-field>
            <mat-label>Announcement</mat-label>
            <input matInput type="text" formControlName="notice">
          </mat-form-field>
        </td>
          <!-- <td>
            <mat-form-field>
              <mat-label>Price:</mat-label>
              <input matInput type="text" formControlName="price">
            </mat-form-field>
          </td> -->
          <td>
            <button mat-icon-button (click)="removesubject(i)">
              <mat-icon>remove_circle</mat-icon>
            </button>
          </td>
        </tr>
      </table>
  
      <!-- <button mat-raised-button  class="btn btn-success">Submit</button> -->
      <button mat-raised-button color="primary" type="submit" >Submit</button>
    </form>
  
  
  </div>
  